body {
    background: var(--negro);
}

main {
    position: relative;
    bottom: 4.5em;
    padding: 5em 1.5em;
    border-radius: 6em 0 0 0;
    margin: 0 auto;
    background: var(--blanco);
}

main::after {
    content: "";
    background: url(../../assets/borde-main-blanco.png) no-repeat bottom right / cover;
    position: absolute;
    display: inline-block;
    top: -6.6em;
    right: 0;
    width: 7em;
    height: 7em;
}

main h2 {
    font-size: 1.6em;
    color: var(--azul);
}

main p, main ul li {
    text-align: justify;
    word-break: break-word;
}

main a {
    color: var(--negro);
}

main ul {
    margin-left: 1.7em;
}

/* ----FOOTER---- */

footer {
    bottom: 4.5em;
}


@media screen and (width >= 1024px) {
    
    main {
        padding: 5em 15em;
    }
}